h4 small{
  color: #000;
  font-size: 0.9em;
}
h2 small{color: #fff;}
h4{
  line-height: 1em;
  font-size: 1em;
}
.colonesValue, .dolaresValue{
  display: none;
}
input#colonesSelector:checked ~ table tbody tr td span.colonesValue, input#dolaresSelector:checked ~ table tbody tr td span.dolaresValue {
  display: inline;
}

input#colonesSelector:checked ~ table.colonesValue, input#dolaresSelector:checked ~ table.dolaresValue {
  display: table;
}

#contenedorColones, #contenedorDolares {
  display: none;
}
input#colonesSelector:checked ~ #contenedorColones {
  display: block;
}
input#dolaresSelector:checked ~ #contenedorDolares {
  display: block;
}

table {
  width: 100%;
}
table.smaller-text tbody tr td span, table.smaller-text tbody tr td, table thead tr th{
  font-size: 11px;
}
table thead tr th, table tbody tr td{
  text-align: center;
}
table thead tr th:first-child, table tbody tr td:first-child{
  text-align: left;
}
li {
  text-align: justify;
}
ol, ul {
  padding-left: 20px;
}
.darker-row {
  background: #f5f5f5;
  color: #000;
  font-weight: bold;

  td {
    border-top: 3px solid #ccc;
  }
}
