@charset "utf-8";
@import "variables";

.row { max-width: 1290px; }

.breadcrumbs{
  a, li{
    color: $dorado;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 18px;
    text-transform: capitalize;
  }
  li:before{
    content: '>';
    color: $dorado;
    top: -1px;
    font-size: 1.2em;
  }
}

.top{
  background: url(/images/top.png);
  background-position: center top;
  background-size: 1260px 134px;
  height: 134px;
}

#hero{
  position: relative;
  margin-bottom: 40px;
}
#hero-text{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 40px 60px;

  h2{
    font-size: 2.2em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Tahoma","sans-serif";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
  }
  p{
    line-height: 1.4;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    line-height: 1.5em;
    font-size: 0.778em;
    text-align: left;
    word-wrap: break-word;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
}
.panels{
  border: solid 1px $gris-claro;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.section-container{
  &.tabs{
    section{
      .content{
        background-color: $gris-claro;
        border: 0;
        padding: 20px 40px 30px 40px;
      }
      &.active .title{
        background-color: $gris-claro;
        border: none;
        color: $azul;
      }
      .title{
        background-color: $gris-oscuro;
        border: none;
        text-transform: uppercase;
        margin-bottom: 0 !important;
        list-style: none;
        font-size: 12.8px;
        a{
          color: #fff;
        }
      }
    }
  }
  h3{
    color: $azul;
    font-size: 23.8px;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Tahoma","sans-serif";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}

[data-section='tabs'], .section-container.tabs{
  margin: 0;
}

.beneficios{
  .columns{
    text-align: left;
    min-height: 56px;
    margin-bottom: 30px;
  }
  img{
    position: absolute;
    left: 20px;
    top: 0;
    width: 56px;
  }
  h4{
    margin-bottom: 0;
    text-transform: none;
    top: 0;
    word-wrap: break-word;
    font-size:14px;
    color: $gris-mas-oscuro;
    text-align: left;
    margin-top: 0;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Tahoma","sans-serif";
    font-weight: bold;
    line-height: 1.4;
  }
  .icon-container{
    float: left;
    width: auto;
  }
  .beneficio-container{
    float: left;
    width: auto;
  }
  .columns{
    padding-left: 106px;
    position: relative;
  }
  ul{
    margin: 0 0 0 20px;
    padding: 0;
  }
  li{
    font-size: 13px;
  }
}

.productos-relacionados{
  background-image: url(/images/productos-relacionados.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 294px;
  background-size: auto 100%;
}
.footer{
  background-image: url(/images/footer.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 318px;
  background-color: $gris-claro;
}

.requisitos{
  li{
    color: $azul;
    line-height: 150%;
    font-size: 16px;
  }
}

table{
  border-spacing: 0;
  border: 1px solid #ccc;
  th{
    text-align: left;
    border-bottom: 3px solid #ccc;
  }
}

.condiciones{
  table{
    width: 100%;
  }
}

.button{
  background: #F45354;
  border: 0;
  box-shadow: none;
}
