<% unless current_page.data.numero_para_reclamos.nil? %>
<h3>Proceso de Reclamo</h3>
<p>Para reportar cualquier evento cubierto en esta póliza deberá contactar al número de teléfono <%= current_page.data.numero_para_reclamos %>.</p>
<% end %>
