<% unless current_page.data.numero_para_reclamos.nil? %>
<h3>Proceso de Reclamo</h3>
<p>Para solicitar el pago de cualquier indemnización, el asegurado principal puede contactar al número de teléfono <%= current_page.data.numero_para_reclamos %>.</p>
<% end %>
