---
layout: producto
title: Seguro autoexpedible de protección de boletos
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro autoexpedible de protección de boletos

hero_image: boleto-protegido.jpg
hero_text:

beneficios:
  -
    texto: Cobertura inmediata
  -
    texto: Cobertura por la imposibilidad de asistir a un evento

condiciones: Personas físicas clientes del Grupo Financiero BAC|CREDOMATIC.
modalidad: Autoexpedible
moneda: Colones
coberturas:
  - En caso de muerte accidental, enfermedad o agresión con lesiones graves
  - En caso que se dé un incumplimiento o retraso en el transporte público por huelga acción o sabotaje industrial comprobadas públicamente
  - En caso de una avería o falla mecánica, accidente de tránsito o incendio en el vehículo particular
  - En caso de robo del vehículo en el que el asegurado pretendía viajar a la localidad específica para asistir al evento
  - En caso que el asegurado sea designado como testigo en un proceso judicial el mismo día del evento
  - En caso que al asegurado o su compañero de eventos, le rescindan su contrato de trabajo o lo despidan con responsabilidad patronal
exclusiones:
  - Despedido sin responsabilidad patronal
  - Trabaja por tiempo definido o determinado
  - No ha trabajado para el mismo patrono por un período mayor a seis (6) meses
  - Despido anunciado con anterioridad a la fecha de inicio de la vigencia del seguro para el asegurado.
  - Desarrolla simultáneamente dos (2) o más trabajos, y pierde solo uno de ellos, aun cuando sea con responsabilidad del patrón.
  - Quiebra Financiera del organizador, promotor o responsable del Evento
  - Pérdida, Hurto o Robo del Boleto.
  - Desastres naturales
  - Conducir cualquier vehículo cuando el nivel de alcohol exceda el nivel que permiten las leyes del país
  - Recargos o multas por cambio voluntarios de localidad, sitio o fecha.
  - Epidemia o Pandemia declarada de manera oficial
numero_de_producto: G11-22-A05-666
numero_para_reclamos: 4101-0000
pdf: "https://baccredomatic.com"

requisitos:
  - Personas físicas clientes del Grupo Financiero BAC|CREDOMATIC.
  - <strong>Boletos adquiridos por boletería de E-Ticket</strong>.
---
<h3>Planes y primas</h3>
<p>El valor del seguro es proporcional al valor del boleto.</p>
