---
layout: layout
title: Seguro autoexpedible de protección de boletos
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro autoexpedible de protección de boletos

hero_text: Descripción de una oración
hero_image: boleto-protegido.jpg

beneficios:
  -
    texto: Cobertura inmediata
  -
    texto: Cobertura por la imposibilidad de asistir a un evento para el cual, la compañía aseguradora rembolsará al asegurado el valor pagado por el boleto adquirido.
---
<% content_for :condiciones do %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Condiciones</h3>
      <ul>
      <li>Personas físicas clientes del Grupo Financiero BAC|CREDOMATIC.</li>
      <li>Moneda: Colones</li>
      <li>Coberturas:
        <ol>
          <li>En caso de muerte accidental, enfermedad o agresión con lesiones graves</li>
          <li>En caso que se dé un incumplimiento o retraso en el transporte público por huelga acción o sabotaje industrial comprobadas públicamente</li>
          <li>En caso de una avería o falla mecánica, accidente de tránsito o incendio en el vehículo particular</li>
          <li>En caso de robo del vehículo en el que el asegurado pretendía viajar a la localidad específica para asistir al evento</li>
          <li>En caso que el ASEGURADO sea designado como testigo en un proceso judicial el mismo día del evento</li>
          <li>En caso que al ASEGURADO o su compañero de eventos, le rescindan su contrato de trabajo o lo despidan con responsabilidad patronal</li>
        </ol>
      </li>
      </ul>

      <h3>Valor:</h3>
      <p>El valor del seguro corresponde al 6.98% del valor del boleto.</p>
    </div>
    <div class="large-6 columns">
      <h3>Exclusiones:</h3>
      <ul>
        <li>Despedido sin responsabilidad patronal</li>
        <li>Trabaja por tiempo definido o determinado</li>
        <li>No ha trabajado para el mismo patrono por un período mayor a seis (6) meses</li>
        <li>Despido anunciado con anterioridad a la fecha de inicio de la vigencia del seguro para el ASEGURADO.</li>
        <li>Desarrolla simultáneamente dos (2) o más trabajos, y pierde solo uno de ellos, aun cuando sea con responsabilidad del patrón.</li>
        <li>Quiebra Financiera del organizador, promotor o responsable del Evento</li>
        <li>Pérdida, Hurto o Robo del Boleto.</li>
        <li>Desastres naturales</li>
        <li>Conducir cualquier vehículo cuando el nivel de alcohol exceda el nivel que permiten las leyes del país</li>
        <li>Recargos o multas por cambio voluntarios de localidad, sitio o fecha.</li>
        <li>Epidemia o Pandemia declarada de manera oficial</li>
      </ul>
      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE G11-22-A05-666</strong></p>
    </div>
  </div>
<% end %>
