---
layout: producto
title: Seguro colectivo Bolso Protegido
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro Seguro colectivo Bolso Protegido

hero_text: No dejes que una mala pasada arruine tu día, respalda tus documentos personales en cualquier momento.
hero_image: bolso-protegido.jpg

beneficios:
  -
    texto: No tiene límites de edad
    icono: en-caso-de-muerte-2
  -
    texto: Medio automático de pago
    icono: pagos
  -
    texto: Te respalda de extravío de documentos personales (documento de identidad, pasaporte y/o licencia de conducir)
    icono: cuenta-corriente
  -
    texto: Te respalda de robo o hurto del bolso (billetera, anteojos, reproductor de música, teléfono móvil, entre otros)
    icono: perdida-robo-o-fraude

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa.
  - No tiene límite de edad.
  - Medio automático de pago.

#condiciones:
modalidad: Colectivo
moneda: Dólares
coberturas:
  - Extravío de Documentos Personales (documento de identidad, pasaporte y/o licencia de conducir)
  - Robo o hurto del Bolso (billetera, anteojos, reproductor de música, teléfono móvil, entre otros)
exclusiones:
  - Las pérdidas originadas en intereses o pérdidas financieras correspondientes a descuentos de cualquier persona entidad o corporación.
  - Cuando el cónyuge o cualquier pariente de asegurado dentro del cuarto grado de consanguinidad, segundo de afinidad o único civil o cualquier empleado o amigo del asegurado sea auto o cómplice del hecho que da origen al amparo.
  - Para mayor detalle de exclusiones y producto sírvase ingresar a la página www.sugese.fi.cr, bajo el registro G07-46-A05-434 para obtener condiciones generales
numero_de_producto:
numero_para_reclamos: 4101-0000
valor: G07-46-A05-434
pdf: "https://baccredomatic.com"
---
<% content_for :condiciones do %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Coberturas</h3>
      <ul>
        <li>Extravío de Documentos Personales (documento de identidad, pasaporte y/o licencia de conducir)</li>
        <li>Robo o hurto del Bolso (billetera, anteojos, reproductor de música, teléfono móvil, entre otros)</li>
      </ul>

      <h3>Moneda</h3>
      <ul>
        <li>Dólares</li>
      </ul>

      <h3>Modalidad</h3>
      <ul>
        <li>Colectivo</li>
      </ul>

      <h3>Exclusiones:</h3>
      <ul>
        <li>Las pérdidas originadas en intereses o pérdidas financieras correspondientes a descuentos de cualquier persona entidad o corporación. </li>
        <li>Cuando el cónyuge o cualquier pariente de asegurado dentro del cuarto grado de consanguinidad, segundo de afinidad o único civil o cualquier empleado o amigo del asegurado sea auto o cómplice del hecho que da origen al amparo.</li>
        <li>Para mayor detalle de exclusiones y producto  sírvase ingresar a la página www.sugese.fi.cr, bajo el registro G07-46-A05-434  para obtener condiciones generales</li>
      </ul>
      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE G07-46-A05-434</strong></p>
    </div>
    <div class="large-6 columns">
      <h3>Planes Y Primas</h3>
      <table>
        <thead>
          <tr>
            <th>Coberturas</th>
            <th>Prima mensual</th>
            <th>Suma asegurada</th>
            <th>Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Extravio de documentos personales</td>
            <td>$1.99</td>
            <td>$200</td>
            <td>2 eventos por vigencia</td>
          </tr>
          <tr>
            <td>Robo de bolso</td>
            <td>$1.99</td>
            <td>$300</td>
            <td>Único evento</td>
          </tr>
        </tbody>
      </table>
      <h3>PROCESO DE RECLAMO:</h3>
      <p>Para solicitar el pago de cualquier indemnización, el asegurado principal puede contactar al número de teléfono 4101-0000</p>
    </div>
  </div>
<% end %>
