---
layout: producto
title: SEGURO BOLSO O BILLETERA PROTEGIDOS
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro Seguro colectivo Bolso Protegido

hero_text: No dejes que una mala pasada arruine tu día, respalda tus documentos personales en cualquier momento.
hero_image: bolso-protegido-2.jpg

beneficios:
  -
    texto: Pago hasta $300 en caso de extravío de documentos personales (documentos de identidad, pasaporte y/o licencia de conducir)
  -
    texto: No tiene límite de edad
    icono: en-caso-de-muerte-2
  -
    texto: Cargo automático de pago
    icono: pagos

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa.
  - No tiene límite de edad.
  - Medio automático de pago.

#condiciones:
modalidad: Colectivo
moneda: Dólares
coberturas:
  - Extravío de Documentos Personales (documento de identidad, pasaporte y/o licencia de conducir)
  - Robo o hurto del Bolso (billetera, anteojos, reproductor de música, teléfono móvil, entre otros)
exclusiones:
  - Las pérdidas originadas en intereses o pérdidas financieras correspondientes a descuentos de cualquier persona entidad o corporación.
  - Cuando el conyugue o familiar del asegurado hasta el cuarto grado de consanguinidad, segundo de afinidad o único civil o cualquier empleado o amigo del asegurado que sea cómplice del robo.
numero_de_producto: G07-46-A05-434
numero_para_reclamos: 2503-2705
valor:
pdf: "https://baccredomatic.com"
---
<h3>Planes Y Primas</h3>
<table>
  <thead>
    <tr>
      <th>Coberturas</th>
      <th>Suma asegurada</th>
      <th>Eventos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Extravio de documentos personales</td>
      <td>$200</td>
      <td>2 eventos por año</td>
    </tr>
    <tr>
      <td>Robo de bolso</td>
      <td>$300</td>
      <td>Único evento anual</td>
    </tr>
    <tr class="darker-row">
      <td>Primas</td>
      <td>$1.99</td>
      <td></td>
    </tr>
  </tbody>
</table>
