---
layout: layout
title: Seguro colectivo Bolso Protegido
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro Seguro colectivo Bolso Protegido

hero_text: No dejes que una mala pasada arruine tu día, respalda tus documentos personales en cualquier momento.

beneficios:
  -
    texto: No tiene límites de edad
  -
    texto: Medio automático de pago
  -
    texto: Te respalda de extravío de documentos personales (documento de identidad, pasaporte y/o licencia de conducir)
  -
    texto: Robo o hurto del bolso (billetera, anteojos, reproductor de música, teléfono móvil, entre otros)

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa.
  - No tiene límite de edad.
  - Medio automático de pago.
---
<% content_for :condiciones do %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Condiciones</h3>
      <ul>
        <li>Moneda: Dólares</li>
      </ul>

      <h3>Exclusiones generales:</h3>
      <ul>
        <li>Cualquier entidad Financiera que represente al tomador o Asegurado.</li>
        <li>Las pérdidas originadas en intereses o pérdidas financieras correspondientes a descuentos de cualquier persona entidad o corporación.</li>
        <li>Cuando el cónyuge o cualquier pariente de asegurado dentro del cuarto grado de consanguinidad, segundo de afinidad o único civil o cualquier empleado o amigo del asegurado sea auto o cómplice del hecho que da origen al amparo.</li>
      </ul>
      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE G07-46-A05-434</strong></p>
    </div>
    <div class="large-6 columns">
      <h3>Planes Y Primas</h3>
      <table>
        <thead>
          <tr>
            <th>Coberturas</th>
            <th>Prima mensual</th>
            <th>Suma asegurada</th>
            <th>Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Extravio de documentos personales</td>
            <td>$1.99</td>
            <td>$200</td>
            <td>2 eventos por vigencia</td>
          </tr>
          <tr>
            <td>Robo de bolso</td>
            <td>$1.99</td>
            <td>$300</td>
            <td>Único evento</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
