---
layout: layout
title: Seguro autoexpedible Canasta Protegida
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro autoexpedible Canasta Protegida

hero_text: Asegúrate de que a los tuyos nada les suceda, haz tu parte respaldando su futuro.

beneficios:
  -
    texto: No tiene límites de edad
  -
    texto: Medio automático de pago
  -
    texto: Periodo de gracia de 90 días
  -
    texto: Te respaldamos ante los siguientes riesgos
    p: <ul><li>Cobertura A: Robo y daños materiales accidentales totales a bienes adquiridos con tarjeta de crédito o débito</li><li>Cobertura B: Renta alimenticia por muerte accidental del tarjetahabiente (12 mensualidades)</li><li>Cobertura C: Cobertura de incapacidad total temporal por accidente</li><li>Cobertura D: Cobertura por desempleo involuntario (Hasta seis meses consecutivos)</li></ul>

requisitos:
  - Cualquier cliente.
  - Medio automático de pago. Tarjeta de cualquier banco.
---
<% content_for :condiciones do %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Condiciones</h3>
      <ul>
        <li>Moneda: Colones</li>
      </ul>

      <h3>Exclusiones generales:</h3>
      <ul>
        <li>No padecer ninguna de las siguientes enfermedades enlistadas: a.	 Ceguera b. Parálisis c. Apoplejía d. Epilepsia e. Diabetes f. Hemofilia g. Tuberculosis h. Sífilis i. Alcoholismo o Drogadicción j. Delirium Tremes o enajenación mental</li>
      </ul>

      <h3>Exclusiones específicas:</h3>
      <h4>Cobertura A: Robo y daños materiales</h4>
      <ul>
        <li>Hurto</li>
        <li>Robo o daños ocasionados a bienes adquiridos de manera ilícita</li>
        <li>Uso normal, desgaste o daños provenientes de vicios propios que deriven de una defectuosa fabricación o que genera la responsabilidad del fabricante.</li>
      </ul>

      <h4>Coberturas B y C: Renta alimenticia por muerte accidental del tarjetahabiente y cobertura de incapacidad total temporal por accidente</h4>
      <ul>
        <li>Lesiones provocadas en estado de enajenación mental.</li>
        <li>Lesiones provocadas por el propio asegurado.</li>
        <li>Cualquier disciplina deportiva en calidad profesional.</li>
        <li>Acciones realizadas por el asegurado bajo efectos de alcohol, drogas no medicadas oestupefacientes.</li>
        <li>Tratamientos o intervenciones quirúrgicas de carácter estético</li>
      </ul>

      <h4>Cobertura D:   Cobertura por desempleo involuntario</h4>
      <ul>
        <li>Despido sin responsabilidad patronal</li>
        <li>Jubilación, retiro obligatorio o voluntario o ingreso al régimen de pensión del asegurado</li>
        <li>Participación en paros, disputas laborales o huelgas ilegales.</li>
        <li>Contratos de tiempo definido o determinado.</li>
        <li>Propiedad accionaria si le pertenece en más de un 50% a un familiar del asegurado hasta un segundo grado de afinidad o consanguinidad.</li>
      </ul>

      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE G07-46-A05-664</strong></p>
    </div>
    <div class="large-6 columns">
      <h3>Planes Y Primas</h3>
      <table>
        <thead>
          <tr>
            <th colspan="6">Seguro autoexpedible de canasta protegida</th>
          </tr>
          <tr>
            <th>Coberturas</th>
            <th>Plan A</th>
            <th>Plan B</th>
            <th>Plan C</th>
            <th>Plan D</th>
            <th>Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Robo y daños materiales accidentales totales a bienes adquiridos con tarjeta de crédito o débito</td>
            <td>&#x20A1;170.000</td>
            <td>&#x20A1;170.000</td>
            <td>&#x20A1;170.000</td>
            <td>&#x20A1;170.000</td>
            <td>2 eventos</td>
          </tr>
          <tr>
            <td>Renta alimenticia por muerte accidental del tarjetahabiente</td>
            <td>&#x20A1;1.130.000,00</td>
            <td>&#x20A1;790.000,00</td>
            <td>&#x20A1;450.000,00</td>
            <td>&#x20A1;280.000,00</td>
            <td>12 Rentas</td>
          </tr>
          <tr>
            <td>Cobertura de incapacidad total temporal por accidente</td>
            <td>&#x20A1;113.000</td>
            <td>&#x20A1;113.000</td>
            <td>&#x20A1;113.000</td>
            <td>&#x20A1;113.000</td>
            <td>6 pagos</td>
          </tr>
          <tr>
            <td>Cobertura por desempleo involuntario</td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <th colspan="6">Primas</th>
          </tr>
          <tr>
            <td>18-64 años</td>
            <td>&#x20A1;7.000,00</td>
            <td>&#x20A1;5.900,00</td>
            <td>&#x20A1;4.600,00</td>
            <td>&#x20A1;3.600,00</td>
            <td></td>
          </tr>
          <tr>
            <td>65-79 años</td>
            <td>&#x20A1;28.000,00</td>
            <td>&#x20A1;23.300,00</td>
            <td>&#x20A1;18.500,00</td>
            <td>&#x20A1;14.400,00</td>
            <td></td>
          </tr>
          <tr>
            <td>80-84 años</td>
            <td>&#x20A1;41.900,00</td>
            <td>&#x20A1;35.000,00</td>
            <td>&#x20A1;27.700,00</td>
            <td>&#x20A1;21.500,00</td>
            <td></td>
          </tr>
          <tr>
            <td>85 años o más</td>
            <td>&#x20A1;62.800,00</td>
            <td>&#x20A1;52.400,00</td>
            <td>&#x20A1;41.500,00</td>
            <td>&#x20A1;32.300,00</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
