---
layout: producto
title: Seguro Canasta Protegida
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro autoexpedible Canasta Protegida

hero_text: Asegúrate de que a los tuyos nada les suceda, haz tu parte respaldando su futuro.
hero_image: canasta-protegida.jpg

beneficios:
  -
    texto: No tiene límites de edad
    icono: en-caso-de-muerte-2
  -
    texto: Medio automático de pago
    icono: pagos
  -
    texto: Periodo de gracia de 90 días
    icono: saldo-promedio-mensual
  -
    texto: Te respaldamos ante los siguientes riesgos
    p: "<ul><li>Cobertura A: Robo y daños materiales accidentales totales a bienes adquiridos con tarjeta de crédito o débito</li><li>Cobertura B: Renta alimenticia por muerte accidental del tarjetahabiente (12 mensualidades)</li><li>Cobertura C: Cobertura de incapacidad total temporal por accidente</li><li>Cobertura D: Cobertura por desempleo involuntario (Hasta seis meses consecutivos)</li></ul>"

requisitos:
  - Tarjeta de cualquier entidad financiera.
  - Medio automático de pago. Tarjeta de cualquier banco.
  - No padecer enfermedades excluyentes
  - No tiene límite de edad

moneda: Colones y Dólares
modalidad: Autoexpedible / Colectivo
coberturas:
  - Incapacidad total y permanente
  - Fallecimiento
  - Pérdida de ingresos<ol><li>Para asalariados cobertura por desempleo involuntario</li><li>Para trabajadores independientes Por invalidez temporal.</li></ol>
numero_de_producto: G07-46-A05-664
numero_para_reclamos: 2503-2705
pdf: "https://baccredomatic.com"
---
<% content_for :columna_1_bottom do %>
  <h3>Exclusiones generales:</h3>
  <p>No padecer ninguna de las siguientes enfermedades enlistadas: </p>
  <ol>
    <li>Ceguera</li>
    <li>Parálisis</li>
    <li>Apoplejía</li>
    <li>Epilepsia</li>
    <li>Diabetes</li>
    <li>Hemofilia</li>
    <li>Tuberculosis</li>
    <li>Sífilis</li>
    <li>Alcoholismo o Drogadicción</li>
    <li>Delirium Tremes o enajenación mental</li>
  </ol>

  <h3>Exclusiones específicas:</h3>
  <h4>Cobertura A:
    <br/><small>robo y daños materiales</small></h4>
  <ul>
    <li>Hurto</li>
    <li>Robo o daños ocasionados a bienes adquiridos de manera ilícita</li>
    <li>Uso normal, desgaste o daños provenientes de vicios propios que deriven de una defectuosa fabricación o que genera la responsabilidad del fabricante.</li>
  </ul>

  <h4>Coberturas B y C:
    <br/><small>Renta alimenticia por muerte accidental del tarjetahabiente y cobertura de incapacidad total temporal por accidente</small></h4>
  <ul>
    <li>Lesiones provocadas en estado de enajenación mental.</li>
    <li>Lesiones provocadas por el propio asegurado.</li>
    <li>Cualquier disciplina deportiva en calidad profesional.</li>
    <li>Acciones realizadas por el asegurado bajo efectos de alcohol, drogas no medicadas o estupefacientes.</li>
    <li>Tratamientos o intervenciones quirúrgicas de carácter estético</li>
  </ul>

  <h4>Cobertura D:
    <br/><small>Cobertura por desempleo involuntario</small></h4>
  <ul>
    <li>Despido sin responsabilidad patronal</li>
    <li>Jubilación, retiro obligatorio o voluntario o ingreso al régimen de pensión del asegurado</li>
    <li>Participación en paros, disputas laborales o huelgas ilegales.</li>
    <li>Contratos de tiempo definido o determinado.</li>
    <li>Propiedad accionaria si le pertenece en más de un 50% a un familiar del asegurado hasta un segundo grado de afinidad o consanguinidad.</li>
  </ul>

  <p><strong>Para mayor detalle de exclusiones y producto sírvase ingresar a la página www.sugese.fi.cr, bajo el registro <%= current_page.data.numero_de_producto %> para obtener condiciones generales</strong></p>
<% end %>

<h3>Planes Y Primas</h3>
<label>Mostrar precios en:</label>
<input type="radio" name="currencySelector" value="Red" id="colonesSelector" style="display: inline-block; margin-right: 1em;" class="colones" checked="checked" ><label for="currencySelector" style="display: inline-block; margin-right: 1em;">Colones</label>
<input type="radio" name="currencySelector" value="Blue" id="dolaresSelector" style="display: inline-block; margin-right: 1em;" class="dolares"><label for="currencySelector" style="display: inline-block;">Dólares</label>
<table style="width: 100%; table-layout:fixed;">
  <thead>
    <tr>
      <th width="45%">Descripción de coberturas</th>
      <th width="11%">Pagos</th>
      <th width="11%">Plan 1</th>
      <th width="11%">Plan 2</th>
      <th width="11%">Plan 3</th>
      <th width="11%">Plan 4</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td width="50%" class="text-left">Renta alimenticia mensual por muerte accidental</td>
      <td>12 rentas</td>
      <td><span class="colonesValue">&#x20A1;1.130.000</span><span class="dolaresValue">$2.000</span></td>
      <td><span class="colonesValue">&#x20A1;790.000</span><span class="dolaresValue">$1.400</span></td>
      <td><span class="colonesValue">&#x20A1;450.000</span><span class="dolaresValue">$800</span></td>
      <td><span class="colonesValue">&#x20A1;280.000</span><span class="dolaresValue">$500</span></td>
    </tr>
    <tr>
      <td class="text-left">Desempleo involuntario</td>
      <td>6 pagos</td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
    </tr>
    <tr>
      <td class="text-left">Incapacidad total temporal</td>
      <td>6 pagos</td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
      <td><span class="colonesValue">&#x20A1;113.000</span><span class="dolaresValue">$200</span></td>
    </tr>
    <tr>
      <td class="text-left">Robo y daños materiales accidentales totlaes a bienes adquiridos con la tarjeta de crédito o débito</td>
      <td>2 eventos</td>
      <td><span class="colonesValue">&#x20A1;170.000</span><span class="dolaresValue">$300</span></td>
      <td><span class="colonesValue">&#x20A1;170.000</span><span class="dolaresValue">$300</span></td>
      <td><span class="colonesValue">&#x20A1;170.000</span><span class="dolaresValue">$300</span></td>
      <td><span class="colonesValue">&#x20A1;170.000</span><span class="dolaresValue">$300</span></td>
    </tr>
  </tbody>
</table>

<table style="width: 100%;table-layout:fixed;">
  <thead>
    <tr>
      <th width="40%">Edades</th>
      <th width="15%">Plan 1</th>
      <th width="15%">Plan 2</th>
      <th width="15%">Plan 3</th>
      <th width="15%">Plan 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18 - 64 años</td>
      <td><span class="colonesValue">&#x20A1;7.000,00</span><span class="dolaresValue">$12,50</span></td>
      <td><span class="colonesValue">&#x20A1;5.900,00</span><span class="dolaresValue">$10,50</span></td>
      <td><span class="colonesValue">&#x20A1;4.600,00</span><span class="dolaresValue">$8,50</span></td>
      <td><span class="colonesValue">&#x20A1;3.600,00</span><span class="dolaresValue">$6,50</span></td>
    </tr>
    <tr>
      <td>65 - 79 años</td>
      <td><span class="colonesValue">&#x20A1;28.000,00</span><span class="dolaresValue">$50,50</span></td>
      <td><span class="colonesValue">&#x20A1;23.300,00</span><span class="dolaresValue">$41,50</span></td>
      <td><span class="colonesValue">&#x20A1;18.500,00</span><span class="dolaresValue">$32,50</span></td>
      <td><span class="colonesValue">&#x20A1;14.400,00</span><span class="dolaresValue">$25,50</span></td>
    </tr>
    <tr>
      <td>80 - 84 años</td>
      <td><span class="colonesValue">&#x20A1;41.900,00</span><span class="dolaresValue">$73,90</span></td>
      <td><span class="colonesValue">&#x20A1;35.000,00</span><span class="dolaresValue">$61,70</span></td>
      <td><span class="colonesValue">&#x20A1;27.700,00</span><span class="dolaresValue">$48,00</span></td>
      <td><span class="colonesValue">&#x20A1;21.500,00</span><span class="dolaresValue">$38,00</span></td>
    </tr>
    <tr>
      <td>85 años y más</td>
      <td><span class="colonesValue">&#x20A1;62.600,00</span><span class="dolaresValue">$111,00</span></td>
      <td><span class="colonesValue">&#x20A1;52.400,00</span><span class="dolaresValue">$92,50</span></td>
      <td><span class="colonesValue">&#x20A1;41.500,00</span><span class="dolaresValue">$73,20</span></td>
      <td><span class="colonesValue">&#x20A1;32.300,00</span><span class="dolaresValue">$57,00</span></td>
    </tr>
  </tbody>
</table>
