---
layout: producto
title: Funerario
breadcrumbs:
  - Seguros
  - Nuestros seguros
  - Funerario

hero_text: Por cualquier causa podemos faltar, que esa no sea la excusa para no respaldar a tus seres queridos.
hero_image: vida-protegida.jpg

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: <ul><li>Pago a sus beneficiarios por muerte natural</li><li>Pago a sus beneficiarios por muerte accidental</li><li>Pago a sus beneficiarios por muerte accidental en transporte privado</li><li>Pago a sus beneficiarios por muerte accidental en transporte público</li><ul>
  -
    texto: No tiene límite de edad
    icono: en-caso-de-muerte-2
  -
    texto: Cargo automático de pago
    icono: pagos

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa
  - Ser mayor de 18 años

numero_de_producto: ASSA P19-60-A05-712
moneda: Dólares
---
<% content_for :columna_1_bottom do %>
<h3>Exclusiones Principales:</h3>
<ul>
  <li>Suicidio primeros dos años de vigencia</li>
  <li>Acciones de guerra, invasión, actos de terrorismo</li>
  <li>Catástrofes naturales: inundaciones, terremotos, maremotos, huracanes, erupción volcánica</li>
  <li>Enfermedades preexistentes o anteriores a la obtención de la póliza</li>
</ul>

<h3>¿A quiénes puedo proteger?</h3>
<ul>
  <li>Hijos, madre y padre, cónyuge, hermanos, sobrinos y primos o familiares hasta cuarto grado de consanguineidad.</li>
  <li>En el caso de los progenitores la edad máxima para adquirir la póliza es de: 74 años con 29 días y ll meses.</li>
  <li>Al fallecer el tarjetahabiente, cesa la cobertura</li>
</ul>

<h3>Consideraciones Importantes:</h3>
<ul>
  <li>Periodo de gracia: 90 días</li>
  <li>Tiempo de Espera: 90 días naturales por fallecimiento por causa natural</li>
</ul>

<% end %>
<h3>Planes según cobertura</h3>
  <h4>Prima $7,99</h4>
  <ul>
    <li>Grupo Familiar compuesto por 3 protegidos</li>
    <li>Titular de la póliza</li>
    <li>Dos protegidos beneficiarios</li>
  </ul>
  <h4>Prima $9,99</h4>
  <ul>
    <li>Grupo Familiar compuesto por 5 protegidos</li>
    <li>Titular de la póliza</li>
    <li>Cuatro protegidos beneficiarios</li>
  </ul>
  <h4>Prima $12,99</h4>
  <ul>
    <li>Grupo Familiar compuesto por 7 protegidos</li>
    <li>Titular de la póliza</li>
    <li>Seis protegidos beneficiarios</li>
  </ul>



<h3>En caso de reclamo:</h3>
<p>En caso de fallecimiento de alguno de los protegidos de la póliza, es indispensable que el familiar o encargado responsable, ya que no opera por reembolso, se deberá contactar inmediatamente a solicitar los servicios funerarios a la línea de MEMORIAL INTERNATIONAL:</p>
<p>4052-5353<br/>
4052-5354<br/>
4052-5356</p>
<p>En la llamada se debe suministrar la siguiente información:</p>
<ul>
<li>Nombre completo del fallecido y número de cédula de identidad.</li>
<li>Lugar de ubicación del fallecido</li>
<li>Contacto responsable de realizar la llamada.</li>
<li>Historia clínica (en caso de ser necesario)</li>
</ul>
