---
layout: layout
title: SEGURO INCENDIO COMERCIAL (ILC)
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Incendio Local Comercial

hero_text: Que una llama no apague tus sueños, protección en caso de incendio e inundación.

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: <ul><li>Cubrimos por Incendio y Daños Materiales</li><li>Inundación</li><li>Robo</li><li>Servicio (Reparación o sustitución de cerraduras y llaves)</li></ul>
---
<% content_for :condiciones do %>
  <div class="row condiciones">
    <div class="large-6 columns">
      <h3>Condiciones</h3>
      <ul>
        <li>Moneda: Colones</li>
      </ul>

      <h3>Exclusiones específicas:</h3>
      <h4>Incendio</h4>
      <ul>
        <li>Los Daños Causados por fuegos no hostil.</li>
        <li>Los daños que se produzcan por colillas de cigarrillo o similares, a menos que produzcan incendio</li>
        <li>Los daños provocados por un incendio causado por dolo o culpa grave del Asegurado.</li>
        <li>Los daños causados por el simple transcurso del tiempo.</li>
        <li>Pérdidas causadas por cualquier otro evento no descrito expresamente en la Cobertura Básica.</li>
        <li>El incendio a consecuencia de riesgos amparados de manera específica por otras coberturas de la póliza, sin distingo de que hayan sido o no contratadas</li>
      </ul>

      <h4>Inundación</h4>
      <ul>
        <li>Las inundaciones que sean consecuencia directa o indirecta de vientos huracanados</li>
        <li>Las inundaciones originadas por, o a consecuencia del ciclo natural de las mareas.</li>
        <li>Flotación por oscilación del nivel friático y penetración de agua en instalaciones subterráneas</li>
        <li>Inundaciones que tengan origen en fallas o falta de capacidad de los sistemas de evacuación de aguas residuales o pluviales de la edificación asegurada y/o sus predios.</li>
      </ul>

      <h4>Robo</h4>
      <ul>
        <li>Hurto y faltantes de contenido, así como el saqueo.</li>
        <li>Robo o tentativa de robo en que el Asegurado, alguno de sus familiares, huéspedes o sus empleados, sean autores o cómplices.</li>
        <li>Robo efectuado con ganzúa, llave falsa u otro instrumento semejante, o de la llave verdadera que hubiese sido sustraída o encontrada, y que no deje huella visible de la fuerza o violencia en su cometimiento.</li>
        <li>Cualquier artículo portátil, mientras se encuentre fuera de los predios asegurados.</li>
        <li>Robo o tentativa de robo, debido a cualquier agravamiento del riesgo.</li>
        <li>Robo a consecuencia de otros riesgos amparados de manera específica por otras coberturas de esta póliza.</li>
      </ul>

      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE G06-44-A03-354</strong></p>
    </div>
    <div class="large-6 columns">
      <h3>Planes</h3>
      <table>
        <thead>
          <tr>
            <th>Plan</th>
            <th style="text-align: center;">Monto asegurado</th>
            <th style="text-align: center;">Prima</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td style="text-align: center;">&#x20A1;1.250.000,00</td>
            <td style="text-align: center;">&#x20A1;24.400</td>
          </tr>
          <tr>
            <td>B</td>
            <td style="text-align: center;">&#x20A1;2.500.000,00</td>
            <td style="text-align: center;">&#x20A1;46.800</td>
          </tr>
          <tr>
            <td>C</td>
            <td style="text-align: center;">&#x20A1;5.000.000,00</td>
            <td style="text-align: center;">&#x20A1;93.600</td>
          </tr>
          <tr>
            <td>D</td>
            <td style="text-align: center;">&#x20A1;25.000.000,00</td>
            <td style="text-align: center;">&#x20A1;391.950</td>
          </tr>
          <tr>
            <td>E</td>
            <td style="text-align: center;">&#x20A1;25.000.000,00</td>
            <td style="text-align: center;">&#x20A1;391.950</td>
          </tr>
          <tr>
            <td>F</td>
            <td style="text-align: center;">&#x20A1;50.000.000,00</td>
            <td style="text-align: center;">&#x20A1;691.115</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
