---
layout: producto
title: "SEGURO INCENDIO LOCAL COMERCIAL PARA PYMES"
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Incendio Local Comercial

hero_text: Que una llama no apague tus sueños, protección en caso de incendio e inundación.
hero_image: incendio.jpg

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: "<ul><li>Pago de la suma asegurada en caso de incendio y daños materiales</li><li>Pago de la suma asegurada en caso de inundación</li><li>Pago de la suma asegurada en caso de robo</li><li>Pado por servicio (Reparación o sustitución de cerraduras y llaves)</li></ul>"

requisitos:
  - Persona Física o Jurídica

modalidad: Autoexpedible
moneda: Dólares/ Colones
numero_de_producto: G06-44-A03-354
coberturas:
  - Cobertura por Incendio y Daños Materiales
  - Cobertura por Inundación
  - Cobertura por Robo
  - Cobertura por Servicio (Reparación o sustitución de cerraduras y llaves)
numero_para_reclamos: 2010-3000
---
<% content_for :columna_1_bottom do %>
  <h3>Exclusiones</h3>
  <h4>Incendio</h4>
  <ul>
    <li>Los daños causados por fuegos no hostil.</li>
    <li>Los daños que se produzcan por colillas de cigarrillo o similares, a menos que produzcan incendio</li>
    <li>Los daños provocados por un incendio causado por dolo o culpa grave del asegurado.</li>
    <li>Los daños causados por el simple transcurso del tiempo.</li>
    <li>Pérdidas causadas por cualquier otro evento no descrito expresamente en la cobertura básica.</li>
    <li>El incendio a consecuencia de riesgos amparados de manera específica por otras coberturas de la póliza, sin distingo de que hayan sido o no contratadas</li>
  </ul>

  <h4>Inundación</h4>
  <ul>
    <li>Las inundaciones que sean consecuencia directa o indirecta de vientos huracanados</li>
    <li>Las inundaciones originadas por, o a consecuencia del ciclo natural de las mareas.</li>
    <li>Flotación por oscilación del nivel friático y penetración de agua en instalaciones subterráneas</li>
    <li>Inundaciones que tengan origen en fallas o falta de capacidad de los sistemas de evacuación de aguas residuales o pluviales de la edificación asegurada y/o sus predios.</li>
  </ul>

  <h4>Robo</h4>
  <ul>
    <li>Hurto y faltantes de contenido, así como el saqueo.</li>
    <li>Robo o tentativa de robo en que el Asegurado, alguno de sus familiares, huéspedes o sus empleados, sean autores o cómplices.</li>
    <li>Robo efectuado con ganzúa, llave falsa u otro instrumento semejante, o de la llave verdadera que hubiese sido sustraída o encontrada, y que no deje huella visible de la fuerza o violencia en su cometimiento.</li>
    <li>Cualquier artículo portátil, mientras se encuentre fuera de los predios asegurados.</li>
    <li>Robo o tentativa de robo, debido a cualquier agravamiento del riesgo.</li>
    <li>Robo a consecuencia de otros riesgos amparados de manera específica por otras coberturas de esta póliza.</li>
  </ul>
<% end %>

<h3>Planes y Primas</h3>
<label>Mostrar precios en:</label>
<input type="radio" name="currencySelector" value="Red" id="colonesSelector" style="display: inline-block; margin-right: 1em;" class="colones" checked="checked" ><label for="currencySelector" style="display: inline-block; margin-right: 1em;">Colones</label>

<input type="radio" name="currencySelector" value="Blue" id="dolaresSelector" style="display: inline-block; margin-right: 1em;" class="dolares"><label for="currencySelector" style="display: inline-block;">Dólares</label>

<table class="colonesValue">
  <thead>
    <tr>
      <th>Plan</th>
      <th class="text-right">MONTO ASEGURADO</th>
      <th class="text-right">ANUAL</th>
      <th class="text-right">SEMESTRAL</th>
      <th class="text-right">TRIMESTRAL</th>
      <th class="text-right">MENSUAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td class="text-right">&#x20A1;1.250.000,00</td>
      <td class="text-right">&#x20A1;23.400</td>
      <td class="text-right">&#x20A1;11.700</td>
      <td class="text-right">&#x20A1;5.850</td>
      <td class="text-right">&#x20A1;1.950</td>
    </tr>
    <tr>
      <td>B</td>
      <td class="text-right">&#x20A1;2.500.000,00</td>
      <td class="text-right">&#x20A1;46.800</td>
      <td class="text-right">&#x20A1;23.400</td>
      <td class="text-right">&#x20A1;11.700</td>
      <td class="text-right">&#x20A1;3.900</td>
    </tr>
    <tr>
      <td>C</td>
      <td class="text-right">&#x20A1;5.000.000,00</td>
      <td class="text-right">&#x20A1;93.600</td>
      <td class="text-right">&#x20A1;46.800</td>
      <td class="text-right">&#x20A1;23.400</td>
      <td class="text-right">&#x20A1;7.800</td>
    </tr>
    <tr>
      <td>D</td>
      <td class="text-right">&#x20A1;12.500.000,00</td>
      <td class="text-right">&#x20A1;216.450</td>
      <td class="text-right">&#x20A1;108.225</td>
      <td class="text-right">&#x20A1;54.113</td>
      <td class="text-right">&#x20A1;18.038</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="text-right">&#x20A1;25.000.000,00</td>
      <td class="text-right">&#x20A1;391.950</td>
      <td class="text-right">&#x20A1;195.975</td>
      <td class="text-right">&#x20A1;97.988</td>
      <td class="text-right">&#x20A1;32.663</td>
    </tr>
    <tr>
      <td>F</td>
      <td class="text-right">&#x20A1;50.000.000,00</td>
      <td class="text-right">&#x20A1;691.115</td>
      <td class="text-right">&#x20A1;345.558</td>
      <td class="text-right">&#x20A1;172.779</td>
      <td class="text-right">&#x20A1;57.593</td>
    </tr>
</table>

<table class="dolaresValue">
  <thead>
    <tr>
      <th>Plan</th>
      <th class="text-right">MONTO ASEGURADO</th>
      <th class="text-right">ANUAL</th>
      <th class="text-right">SEMESTRAL</th>
      <th class="text-right">TRIMESTRAL</th>
      <th class="text-right">MENSUAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td class="text-right">$2.500</td>
      <td class="text-right">$47</td>
      <td class="text-right">$23</td>
      <td class="text-right">$12</td>
      <td class="text-right">$4</td>
    </tr>
    <tr>
      <td>B</td>
      <td class="text-right">$5.000</td>
      <td class="text-right">$94</td>
      <td class="text-right">$47</td>
      <td class="text-right">$23</td>
      <td class="text-right">$8</td>
    </tr>
    <tr>
      <td>C</td>
      <td class="text-right">$10.000</td>
      <td class="text-right">$187</td>
      <td class="text-right">$94</td>
      <td class="text-right">$47</td>
      <td class="text-right">$16</td>
    </tr>
    <tr>
      <td>D</td>
      <td class="text-right">$25.000</td>
      <td class="text-right">$433</td>
      <td class="text-right">$216</td>
      <td class="text-right">$108</td>
      <td class="text-right">$36</td>
    </tr>
    <tr>
      <td>E</td>
      <td class="text-right">$50.000</td>
      <td class="text-right">$784</td>
      <td class="text-right">$392</td>
      <td class="text-right">$196</td>
      <td class="text-right">$65</td>
    </tr>
    <tr>
      <td>F</td>
      <td class="text-right">$100.000</td>
      <td class="text-right">$1.382</td>
      <td class="text-right">$691</td>
      <td class="text-right">$346</td>
      <td class="text-right">$115</td>
    </tr>
  </tbody>
</table>
