---
layout: producto
title: Multisaldo protegido
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Multisaldo protegido

hero_image: boleto-protegido.jpg
hero_text: El seguro protege en caso de muerte accidental e incapacidad total y permanente.

beneficios:
  -
    texto: Orientación médica telefónica ilimitada.
  -
    texto: Servicio de referencias medicas ilimitadas.
  -
    texto: Atención médica a domicilio por un médico general.
  -
    texto: Traslado médico terrestre por accidente o emergencia médica.

condiciones: ser tarjetahabiente BAC CREDOMATIC con al menos una tarjeta activa.

moneda: Dólares

numero_de_producto: P19-57-A07-736

pdf: "https://baccredomatic.com"

requisitos:
  - Mayores de 18 años
  - Tarjetabiente BAC CREDOMATIC
  - <strong>No debe estar Incapacitado Total y Permanentemente.</strong>
  - <strong>Nuestro seguro no tiene límite de edad.</strong>

---
<% content_for :columna_1_top do %>
<h3>Beneficiarios:</h3>
<p>El asegurado deberá designar el (los) beneficiario(s) al momento de adquirir la póliza. Podrá designar hasta un máximo de 5 personas.</p>
<p>El asegurado podrá cambiar modificar su designación de Beneficiarios, así como la proporción en la que participan, en cualquier momento durante la vigencia de la Póliza.</p>

<h3>Exclusiones Principales:</h3>
<h4>Exclusiones para todas las coberturas: </h4>
<ul>
  <li>Guerra, invasión, actos de enemigos extranjeros, hostilidades u  operaciones bélicas, o actos de terrorismo, sea que haya habido o no declaración.</li>
  <li>Terremoto, erupción volcánica, marejada, inundación o huracán, declarados  oficialmente como de carácter  catastrófico.</li>
  <li>Acciones de fisión o fusión nuclear, contaminación radioactiva y guerra bacteriológica, o cualquier materia radioactiva  similar.</li>
  <li>Cualquier padecimiento, problema de salud, condición física o mental, enfermedad, patología, incapacidad, lesión, dolencia preexistente que afecte al Asegurado.</li>
  <li>Suicido, o Intento de Suicidio, Actos de Automutilación o Lesión inferida por el Asegurado o al Asegurado por terceros con su consentimiento, cualquiera que sea la época en que  ocurra, ya sea en pleno uso de sus facultades mentales o no.</li>
  <li>Intoxicación o envenenamiento por ingesta de productos químicos, naturales o artificiales para el mantenimiento de desórdenes en la alimentación</li>
  <li>SIDA, Infección Oportunista o Neoplasma Maligno.</li>
  <li>Viaje como piloto o pasajero en una motocicleta, moto, bicicleta a motor, tricimoto, o cuatrimoto, sea este vehículo terrestre, acuático o para nieve</li>
  <li>Por condena a pena de muerte.</li>
</ul>
<h4>Las coberturas por muerte accidental cuenta con las siguientes exclusiones: </h4>
<ul>
  <li>Acciones de guerra, invasión, actos de enemigos extranjeros, hostilidades o actos de terrorismo.</li>
  <li>Eventos naturales declarados oficialmente como de carácter catastrófico.</li>
  <li>Una infección bacteriana. Excepto las que se den a causa de un accidente</li>
  <li>Acciones realizadas por el asegurado bajo los efectos del alcohol, drogas no medicadas o estupefacientes.</li>
  <li>Fallecimiento  o lesiones por arma de fuego, cortante o punzo cortante, sean o no portadas por el asegurado.</li>
  <li>Intervenciones quirúrgicas de orden estético o  abortos de cualquier tipo.</li>
  <li>La participación del Asegurado en experimentos biológicos o farmacéuticos.</li>
  <li>Suicidio o intento de suicidio o sus consecuencias.</li>
  <li>Lesiones producidas por los Rayos X o cualquier material radioactivo.</li>
  <li>Viaje en vehículo para navegación aérea, a menos que el Asegurado viajare como pasajero.</li>
  <li>Carreras de velocidad o de resistencia,  o por cualquier infracción grave de leyes.</li>
  <li>Accidentes conduciendo o como pasajero de motocicleta, moto bicicleta de 2 o 4 ruedas para tierra o nieve.</li>
  <li>Todo hecho ilegal que el Asegurado cometa o trate de cometer.</li>
  <li>Lesiones debidas a actos intencionales del Asegurado.</li>
  <li>Sobre exposición al sol  o al uso de lámparas de bronceado.</li>
  <li>Guerra, (atómica o de energía nuclear) revolución, insurrección, usurpación militar.</li>
  <li>Fumigación agrícola: aérea o terrestre</li>
  <li>Las lesiones que resulten de prácticas higiénicas o de otra índole realizadas por el propio asegurado en su persona (como los actos de aseo, arreglo de las uñas, extirpación de  callo).</li>
</ul>
<% end %>

<h3>Planes seguón cobertura</h3>
<table>
  <thead>
    <tr>
      <td>Cobertura</td>
      <td colspan="2">Plan único</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Muerte accidental (Mínimo)</td>
      <td>3 veces el saldo</td>
      <td>USD 5,500.00</td>
    </tr>
    <tr>
      <td>Muerte accidental (Máximo)</td>
      <td>3 veces el saldo</td>
      <td>USD 16,500.00</td>
    </tr>
    <tr>
      <td>ITP (Mínimo)</td>
      <td>4 veces el saldo</td>
      <td>USD 5,500.00</td>
    </tr>
    <tr>
      <td>ITP (Máximo)</td>
      <td>4 veces el saldo</td>
      <td>USD 30,000.00</td>
    </tr>
    <tr>
      <td>Asistencia médica</td>
      <td colspan="2">Incluídas</td>
    </tr>
    <tr>
      <td>Prima mensual de venta hasta 65 años (ii)</td>
      <td>USD</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Prima mensual de venta hasta 65 años a 75 años(ii)</td>
      <td>USD</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Prima mensual de venta más de 75 años (ii)</td>
      <td>USD</td>
      <td>26</td>
    </tr>
  </tbody>
</table>

<h3>Procedimiento en caso de reclamo:</h3>
<p>Para reclamos puede contactarse 4010-0400, o bien al correo electrónico <a href="mailto:gestiones@adisa.cr">gestiones@adisa.cr</a>.</p>
<p>Original y copia del certificado de defunción del  asegurado expedido por el registro civil.</p>
<p>Certificado original de nacimiento u otro documento mediante el cual se acredite la fecha de nacimiento del Asegurado.</p>
<p>Original y una copia del acta de levantamiento del cadáver emitido por la autoridad competente.</p>
<p>En caso que el fallecimiento ocurra afuera de Costa Rica se deberá aportar acta de defunción certificada y legalizada por el Consulado correspondiente.</p>
