---
layout: producto
title: Plan de protección de ingresos
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Plan de protección de ingresos

hero_image: ingresos.jpg
hero_text: Su salud, su vida y sus finanzas son muy importantes. Protéjalas ante cualquier eventualidad Incluye los pagos mínimos a su tarjeta BAC Credomatic, en caso de desempleo.

beneficios:
  -
    texto: Cubre a la tarjeta de BAC Credomatic con 6 pagos mínimos por desempleo
  -
    texto: Pagos de $1000, $2000 y $5000 en caso de incapacidad total y permanente o fallecimiento

requisitos:
  -
    Tener ente 18 y 64 años de edad.
  -
    Ser cliente de BAC Credomatic.
  -
    Tener al menos una tarjeta activa

moneda: Dólares
modalidad: Colectivo
coberturas:
  - Incapacidad total y permanente
  - Saldo deudor
  - Despido involuntario o incapacidad temporal por accidente
numero_de_producto: P14-40-A07-543
numero_para_reclamos: 4101-0000
exclusiones:
  - 1. <strong>Incapacidad total y permanente</strong>&#58; Lesiones provocadas por el propio asegurado. Lesiones sufridas en servicio militar, actos de guerra, rebelión, alborotos. Lesiones sufridas en actos de delincuencia. Accidentes que ocurran mientras el asegurado se encuentre en sus labores (piloto aviador). Accidentes que ocurran durante la celebración de pruebas de velocidad, resistencia o seguridad de vehículos, racaidismo, buceo, alpinismo y esquí. Padecimientos preexistentes Intentos de suicidio, lesiones o enfermedades provocadas, en estado de enajenación mental. Radiaciones ionizantes VIH (SIDA) Alcoholismo y drogadicción
  - 2. <strong>Fallecimiento</strong>&#58; Suicidio durante los 2 primeros años de haber ingresado a la póliza. Personas mayores de 70 años. Fallecimiento por participación del asegurado en actos delictivos (hechos al margen de la ley). Crédito en mora por 90 días (3 meses). Seguro es intransferible. Cancelación de tarjeta crédito. Muerte a consecuencia de VIH. Enfermedades pre-existentes no están cubiertas.
  - 3. <strong>Perdida de Ingresos por Despido Injustificado</strong>&#58; Jubilación, pensión o retiro. Renuncia o pérdida voluntaria. Participación en paros, disputas laborales o huelgas. Programas anunciados previamente por parte del empleador. Condiciones mentales. Pérdida de empleo, notificada por el empleado previo a la fecha de inicio. Terminación de un contrato de trabajo de tiempo determinado. Falta de inscripción y/o declaración mensual ante el CCSS. Fallecimiento. Auto empleados (servicios profesionales). Quiebra de la empresa
---
<% content_for :columna_1_bottom do %>
    <h3>Planes según cobertura o tipo de tarjeta</h3>

    <h4>Clásica:</h4>
    <p>Incapacidad total y permanente, saldo total o saldo adeudado por fallecimiento del asegurado (saldo total) hasta $1,000.  Despido involuntario o incapacidad temporal por accidente: 6 pagos de $75</p>

    <h4>Dorada:</h4>
    <p>Incapacidad total y permanente (saldo total) o saldo adeudado por fallecimiento del asegurado (saldo total) hasta  $2,000.  Despido involuntario o incapacidad temporal por accidente 6 pagos de $150</p>

    <h4>Platinum:</h4>
    <p>Incapacidad total y permanente (saldo total) o saldo adeudado por  fallecimiento del asegurado (saldo total) hasta $5,000.  Despido involuntario o incapacidad temporal por accidente 6 pagos de $300</p>
<% end %>

<h3>Planes y primas</h3>
<p>El precio del seguro es de acuerdo al tipo de tarjeta de crédito o monto del prestamo personal.</p>

<h3>Condiciones y reglamento</h3>
<p><a download="Seguro colectivo de vida para saldo deudor TC plus en dólares" href="https://www.baccredomatic.com/sites/default/files/seguro_colectivo_de_vida_para_saldo_deudor_tc_plus_en_dolares.pdf">Descargar (click aquí)</a></p>
