---
layout: producto
title: Plan de Protección de Ingresos para tarjetas de crédito
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - PPi Originación

hero_image: ingresos.jpg
hero_text: Su salud, su vida y sus finanzas son muy importantes. Protéjase ante cualquier eventualidad. En caso de desempleo incluye pagos mínimos a su tarjeta BAC Credomatic según plan elegido.

beneficios:
  -
    texto: Cobertura al saldo adeudado en de su tarjeta de crédito según el plan elegido.
  -
    texto: Renovación hasta los 69 años.
  -
    texto: Monto máximo por tarjeta &#8353;5,000,000 o $10,000
  -
    texto: Se pueden asegurar tarjetas VISA, MASTER CARD, AMERICAM EXPRES.

requisitos:
  -
    Personas físicas clientes del Grupo Financiero BAC|CREDOMATIC.
  -
    Clientes físicos en 18 y 69 años con 364 días ( edad mayor comunicarse con la aseguradora)
  -
    Tarjeta de Crédito al día y activa
  -
    <strong>Seguro solo se puede adquirir por invitación.<strong>

moneda: Dólares/ Colones
modalidad: Colectivo
coberturas:
  - Incapacidad total y permanente
  - Fallecimiento
  - Pérdida de ingresos<ul><li>Para asalariados&#58; cobertura por desempleo involuntario</li><li>Para trabajadores independientes	&#58; Por invalidez temporal</li></ul>
numero_de_producto: P14-40-A07-543
numero_para_reclamos: 4101-0000
exclusiones:
  - Lesiones provocadas por el propio asegurado.
  - Lesiones sufridas en actos de delincuencia.
  - Padecimientos pre existentes, VIH (SIDA).
  - Alcoholismo y drogadicción
  - Intentos de suicidio, lesiones o enfermedades provocadas, en estado de enajenación mental.
  - Renuncia o pérdida voluntaria de su empleo.
  - Despidos anunciados previamente por parte del empleador.
---
<% content_for :columna_1_bottom do %>
    <h3>Requisitos de asegurabilidad </h3>

    <h4>Incapacidad total y permanente:</h4>
    <ul>
      <li>Que se encuentre incapacitado total o temporalmente en al menos un 65% de su capacidad.</li>
      <li>Trabajar como comerciantes o profesionales.</li>
      <li>Trabajar de forma independiente.</li>
      <li>Que se encuentre interno en un hospital o recluido constantemente en su domicilio por indicación médica.</li>
    </ul>

    <h4>Para la cobertura perdida de ingresos:</h4>
    <ul>
      <li>Estar empleado tiempo completo. (calidad de dependiente).</li>
      <li>Trabajar bajo un contrato indefinido.</li>
      <li>Debe estar inscrito en la planilla ante la CCSS.</li>
      <li>Haber trabajado para el mismo patrono en un lapso no menor a seis meses.</li>
      <li>La  carencia corresponde a 2 meses, periodo durante el cual la aseguradora ejecuta el proceso de reclamo.</li>
    </ul>

<% end %>

<h3>Planes</h3>
<table>
  <thead>
    <tr>
      <th colspan="4" class="text-center">Seguro Colectivo de Vida para Saldo Deudor de TC Plus</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Coberturas</th>
      <th>Planes*</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td width="55%"></td>
      <td width="15%">PLAN A</td>
      <td width="15%">PLAN B</td>
      <td width="15%">PLAN C</td>
    </tr>
    <tr>
      <td>Cobertura por fallecimiento</td>
      <td>$1.000</td>
      <td>$2.000</td>
      <td>$5.000</td>
    </tr>
    <tr>
      <td>Cobertura por incapacidad total y permanente</td>
      <td>$1.000</td>
      <td>$2.000</td>
      <td>$5.000</td>
    </tr>
    <tr>
      <td>Pérdida de Ingresos</td>
      <td>$75</td>
      <td>$150</td>
      <td>$300</td>
    </tr>
    <tr>
      <td>Desempleo involuntario (asalariados)</td>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>Invalidez temporal (independiente)</td>
      <td colspan="3"></td>
    </tr>
    <tr>
      <th>Primas</th>
      <th>$2,50</th>
      <th>$4,2</th>
      <th>$6,6</th>
    </tr>
  </tbody>
</table>
