---
layout: producto
title: Plan de Protección de Ingresos para tarjetas de crédito
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - PPi Originación

hero_image: ingresos.jpg
hero_text: Su salud, su vida y sus finanzas son muy importantes. Protéjase ante cualquier eventualidad. En caso de desempleo incluye pagos mínimos a su tarjeta Credomatic según plan elegido.

beneficios:
  -
    texto: Pago del saldo adeudado en su tarjeta de crédito según el plan elegido.
  -
    texto: Monto máximo por tarjeta según plan elegido
  -
    texto: Se pueden asegurar tarjetas VISA, MASTER CARD, AMERICAN EXPRES.

requisitos:
  -
    Personas físicas clientes del Grupo Financiero BAC|CREDOMATIC.
  -
    Edad de Contratación 64 años y 364 días, con renovación automática anual hasta los 70 años.
  -
    Personas mayores a los 65 años deberán enviar correo a seguros@baccredomatic.com.
  -
    Tarjeta de Crédito al día y activa.
  -
    <strong>Seguro solo se puede adquirir por invitación.<strong>

moneda: Dólares/ Colones
modalidad: Colectivo
coberturas:
  - Pagos periódicos mensuales a su tarjeta de crédito según el plan elegido por incapacidad total y permanente
  - Fallecimiento
  - Pérdida de ingresos<ul><li>Para asalariados&#58; Seis pagos mensuales a su tarjeta de crédito según el plan elegido por desempleo.</li><li>Para trabajadores independientes&#58; Seis pagos mensuales a su tarjeta de crédito según el plan elegido, por invalidez total temporal por accidente</li></ul>
numero_de_producto: P14-40-A07-543
numero_para_reclamos: 4101-0000
exclusiones:
  - Lesiones provocadas por el propio asegurado.
  - Lesiones sufridas en actos de delincuencia.
  - Padecimientos pre existentes
  - VIH (SIDA)
  - Alcoholismo y drogadicción
  - Intentos de suicidio
  - Lesiones o enfermedades provocadas, en estado de enajenación mental.
  - Renuncia o pérdida voluntaria de su empleo.
  - Despidos anunciados previamente por parte del empleador.
  - Empresas cuya política interna sea la liquidación anual de colaboradores.
---
<% content_for :columna_1_bottom do %>
    <h3>Requisitos de asegurabilidad </h3>

    <h4>Incapacidad total y permanente:</h4>
    <ul>
      <li>Que se encuentre incapacitado total o temporalmente en al menos un 65% de su capacidad.</li>
      <li>Trabajar como comerciantes o profesionales.</li>
      <li>Trabajar de forma independiente.</li>
      <li>Que se encuentre interno en un hospital o recluido constantemente en su domicilio por indicación médica.</li>
    </ul>

    <h4>Para la cobertura perdida de ingresos:</h4>
    <ul>
      <li>Estar empleado tiempo completo. (calidad de dependiente).</li>
      <li>Trabajar bajo un contrato indefinido.</li>
      <li>Debe estar inscrito en la planilla ante la CCSS.</li>
      <li>Haber trabajado para el mismo patrono en un lapso no menor a seis meses.</li>
      <li>La  carencia corresponde a 2 meses, periodo durante el cual la aseguradora ejecuta el proceso de reclamo.</li>
    </ul>
<% end %>

<h3>Planes y primas</h3>
<p>El precio del seguro es de acuerdo al tipo de tarjeta de crédito o monto del prestamo personal.</p>
