---
layout: producto
title: Seguro Vida Protegida
breadcrumbs:
  - Seguros
  - Nuestros seguros
  - Seguro colectivo vida protegida

hero_text: Por cualquier causa podemos faltar, que esa no sea la excusa para no respaldar a tus seres queridos.
hero_image: vida-protegida.jpg

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: <ul><li>Pago a sus beneficiarios por muerte natural</li><li>Pago a sus beneficiarios por muerte accidental</li><li>Pago a sus beneficiarios por muerte accidental en transporte privado</li><li>Pago a sus beneficiarios por muerte accidental en transporte público</li><ul>
  -
    texto: No tiene límite de edad
    icono: en-caso-de-muerte-2
  -
    texto: Cargo automático de pago
    icono: pagos

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa
  - Ser mayor de 18 años

numero_de_producto: P14-26-A07-654
moneda: Colones
modalidad: Colectivo
numero_para_reclamos: 4101-0000
---
<% content_for :columna_1_bottom do %>
<h3>Coberturas</h3>
<ul>
  <li>Pago a sus beneficiarios por muerte natural</li>
  <li>Pago a sus beneficiarios por muerte accidental</li>
  <li>Pago a sus beneficiarios por muerte accidental en transporte privado</li>
  <li>Pago a sus beneficiarios por muerte accidental en transporte público</li>
</ul>
<h3>Exclusiones generales:</h3>
<p>Cualquier padecimiento preexistente que afecte al asegurado</p>
<ul>
  <li>Terremoto, erupción volcánica, marejada, inundación o huracán, declarados oficialmente como de carácter catastrófico.</li>
  <li>SIDA, Infección Oportunista o Neoplasma Maligno.</li>
  <li>Suicido, o Intento de Suicidio, cualquiera que sea la época en que ocurra, ya sea en pleno uso de sus facultades mentales o no.</li>
  <li>Lesiones de arma de fuego, cortante o cortopunzante, las que sean portadas por el asegurado al momento de producirse el Accidente.</li>
  <li>Acciones realizadas por el asegurado bajo los efectos del alcohol, drogas no medicadas o estupefacientes.</li>
  <li>La influencia de estupefacientes, drogas, o bebidas alcohólicas</li>
  <li>Una infección bacteriana (excepto aquellas con progeria causadas por medio de una herida o cortadura accidental).</li>
</ul>
<% end %>
<% content_for :columna_1_bottom_end do %>
  <p><small>Seguro colectivo de vida es de aceptación voluntaria, registrado en la Superintendencia General de Seguros, bajo el código de registro P14-26-A07-654  ( colones) / P14-26-A07-647 ( dólares ) por la aseguradora ASEGURADORA DEL ISTMO (ADISA) S.A.</small></p>
<% end %>
<h3>Planes y primas</h3>
<p>Adquirilo desde $3,50 o 1900 cls , según el plan elegido</p>

<input type="radio" id="colonesSelector" name="tabla" checked="checked">&nbsp;Colones</input>
&nbsp;
<input type="radio" id="dolaresSelector" name="tabla">&nbsp;Dólares</input>

<div id="contenedorColones">

  <table>
    <thead>
      <tr>
        <td>Coberturas</td>
        <td width="20%" style="text-align: center;">Plan 1</td>
        <td width="20%" style="text-align: center;">Plan 2</td>
        <td width="20%" style="text-align: center;">Plan 3</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Muerte por cualquier causa</td>
        <td>&#x20A1;3.000.000</td>
        <td>&#x20A1;4.500.000</td>
        <td>&#x20A1;9.000.000</td>
      </tr>
      <tr>
        <td>Muerte accidental</td>
        <td>&#x20A1;6.000.000</td>
        <td>&#x20A1;9.000.000</td>
        <td>&#x20A1;18.000.000</td>
      </tr>
      <tr>
        <td>Muerte en transporte privado</td>
        <td>&#x20A1;9.000.000</td>
        <td>&#x20A1;13.500.000</td>
        <td>&#x20A1;27.000.000</td>
      </tr>
      <tr>
        <td>Muerte en transporte público</td>
        <td>&#x20A1;12.000.000</td>
        <td>&#x20A1;18.000.000</td>
        <td>&#x20A1;36.000.000</td>
      </tr>
      <tr>
        <td>Asistencia</td>
        <td>Incluída</td>
        <td>Incluída</td>
        <td>Incluída</td>
      </tr>
      <tr>
        <td><strong>Prima de venta (Hasta 65 años)</strong></td>
        <td><strong>&#x20A1;5.700</strong></td>
        <td><strong>&#x20A1;7.500</strong></td>
        <td><strong>&#x20A1;12.000</strong></td>
      </tr>
      <tr>
        <td><strong>Prima de venta (Más de 65 años)</strong></td>
        <td><strong>&#x20A1;47.400</strong></td>
        <td><strong>&#x20A1;69.300</strong></td>
        <td><strong>&#x20A1;123.000</strong></td>
      </tr>
    </tbody>
  </table>

  <p>* Monto máximo a indemnizar es de &#x20A1;5.500.000</p>

</div>
<div id="contenedorDolares">
  <table>
    <thead>
      <tr>
        <td>Coberturas</td>
        <td width="20%" style="text-align: center;">Plan 1</td>
        <td width="20%" style="text-align: center;">Plan 2</td>
        <td width="20%" style="text-align: center;">Plan 3</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Muerte por cualquier causa</td>
        <td>$5.000</td>
        <td>$7.500</td>
        <td>$15.000</td>
      </tr>
      <tr>
        <td>Muerte accidental</td>
        <td>$10.000</td>
        <td>$15.000</td>
        <td>$30.000</td>
      </tr>
      <tr>
        <td>Muerte en transporte privado</td>
        <td>$15.000</td>
        <td>$22.500</td>
        <td>$45.000</td>
      </tr>
      <tr>
        <td>Muerte en transporte público</td>
        <td>$20.000</td>
        <td>$30.000</td>
        <td>$60.000</td>
      </tr>
      <tr>
        <td>Asistencia</td>
        <td>Incluída</td>
        <td>Incluída</td>
        <td>Incluída</td>
      </tr>
      <tr>
        <td><strong>Prima de venta (Hasta 65 años)</strong></td>
        <td><strong>$9,50</strong></td>
        <td><strong>$12,50</strong></td>
        <td><strong>$20,00</strong></td>
      </tr>
      <tr>
        <td><strong>Prima de venta (Más de 65 años)</strong></td>
        <td><strong>$79,00</strong></td>
        <td><strong>$115,50</strong></td>
        <td><strong>$205,00</strong></td>
      </tr>
    </tbody>
  </table>
</div>
