---
layout: producto
title: Seguro Vida Protegida
breadcrumbs:
  - Seguros
  - Nuestros seguros
  - Seguro colectivo vida protegida

hero_text: Por cualquier causa podemos faltar, que esa no sea la excusa para no respaldar a tus seres queridos.
hero_image: vida-protegida.jpg

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: <ul><li>Pago a sus beneficiarios por muerte natural</li><li>Pago a sus beneficiarios por muerte accidental</li><li>Pago a sus beneficiarios por muerte accidental en transporte privado</li><li>Pago a sus beneficiarios por muerte accidental en transporte público</li><ul>
  -
    texto: No tiene límite de edad
    icono: en-caso-de-muerte-2
  -
    texto: Cargo automático de pago
    icono: pagos

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa
  - Ser mayor de 18 años

numero_de_producto: P14-26-A07-654
moneda: Colones
modalidad: Colectivo
numero_para_reclamos: 4101-0000
---
<% content_for :columna_1_bottom do %>
<h3>Coberturas</h3>
<ul>
  <li>Pago a sus beneficiarios por muerte natural</li>
  <li>Pago a sus beneficiarios por muerte accidental</li>
  <li>Pago a sus beneficiarios por muerte accidental en transporte privado</li>
  <li>Pago a sus beneficiarios por muerte accidental en transporte público</li>
</ul>
<h3>Exclusiones generales:</h3>
<p>Cualquier padecimiento preexistente que afecte al asegurado</p>
<ul>
  <li>Terremoto, erupción volcánica, marejada, inundación o huracán, declarados oficialmente como de carácter catastrófico.</li>
  <li>SIDA, Infección Oportunista o Neoplasma Maligno.</li>
  <li>Suicido, o Intento de Suicidio, cualquiera que sea la época en que ocurra, ya sea en pleno uso de sus facultades mentales o no.</li>
  <li>Lesiones de arma de fuego, cortante o cortopunzante, las que sean portadas por el asegurado al momento de producirse el Accidente.</li>
  <li>Acciones realizadas por el asegurado bajo los efectos del alcohol, drogas no medicadas o estupefacientes.</li>
  <li>La influencia de estupefacientes, drogas, o bebidas alcohólicas</li>
  <li>Una infección bacteriana (excepto aquellas con progeria causadas por medio de una herida o cortadura accidental).</li>
</ul>
<% end %>
<h3>Planes y primas</h3>
<table>
  <thead>
    <tr>
      <th width="50%">Cobertura</th>
      <th width="50%" style="text-align: right;">Indemnización</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cobertura básica de fallecimiento</td>
      <td style="text-align: right;">&#x20A1;1.375.000</td>
    </tr>
    <tr>
      <td>Cobertura adicional de muerte accidental</td>
      <td style="text-align: right;">&#x20A1;2.750.000</td>
    </tr>
    <tr>
      <td>Cobertura adicional de muerte accidental en transporte privado</td>
      <td style="text-align: right;">&#x20A1;4.125.000</td>
    </tr>
    <tr>
      <td>Cobertura adicional de muerte accidental en transporte público:</td>
      <td style="text-align: right;">&#x20A1;5.500.000</td>
    </tr>
    <tr>
      <th colspan="2">Primas</th>
    </tr>
    <tr>
      <td>18-64 años</td>
      <td style="text-align: right;">&#x20A1;1.900</td>
    </tr>
    <tr>
      <td>65-74 años</td>
      <td style="text-align: right;">&#x20A1;22.200</td>
    </tr>
    <tr>
      <td>75 años o más</td>
      <td style="text-align: right;">&#x20A1;30.300</td>
    </tr>
  </tbody>
</table>
