---
layout: producto
title: Seguro colectivo Vida Protegida
breadcrumbs:
  - Seguros
  - Nuestros Seguros
  - Seguro colectivo Vida Protegida

hero_text: Por cualquier causa podemos faltar, que esa no sea la excusa para no respaldar a tus seres queridos. SUEGESE P14-26-A07-654
hero_image: vida-protegida.jpg

beneficios:
  -
    texto: Te ofrecemos 4 coberturas que se ajustan a tus necesidades
    p: <ul><li>Cobertura básica de fallecimiento</li><li>Cobertura adicional de muerte accidental (Personal)</li><li>Cobertura adicional de muerte accidental en transporte privado</li><li>Cobertura adicional de muerte accidental en transporte público</li></ul>
  -
    texto: No tiene límites de edad
    icono: en-caso-de-muerte-2
  -
    texto: Medio automático de pago
    icono: pagos

requisitos:
  - Ser clientes BAC|CREDOMATIC con tarjetas débito o crédito activa
  - Ser mayor de 18 años

numero_de_producto: P14-26-A07-654
---
<% content_for :condiciones do %>
  <div class="row">
    <div class="large-6 columns">
      <h3>Condiciones</h3>
      <ul>
        <li>Moneda: Colones</li>
      </ul>

      <h3>Exclusiones generales:</h3>
      <ul>
        <p>Cualquier padecimiento preexistente que afecte al asegurado</p>
        <li>Terremoto, erupción volcánica, marejada, inundación o huracán, declarados oficialmente como de carácter catastrófico.</li>
        <li>SIDA, Infección Oportunista o Neoplasma Maligno.</li>
        <li>Suicido, o Intento de Suicidio, cualquiera que sea la época en que ocurra, ya sea en pleno uso de sus facultades mentales o no.</li>
        <li>Lesiones de arma de fuego, cortante o cortopunzante, las que sean portadas por el Asegurado al momento de producirse el Accidente.</li>
        <li>Acciones realizadas por el Asegurado bajo los efectos del alcohol, drogas no medicadas o estupefacientes.</li>
        <li>La influencia de estupefacientes, drogas, o bebidas alcohólicas</li>
        <li>Una infección bacteriana (excepto aquellas con progeria causadas por medio de una herida o cortadura accidental).</li>
        <li>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE <%= current_page.data.numero_de_producto %></li>
      </ul>
      <p><strong>Para mayor detalle en exclusiones generales sírvase leer el condicionado SUGESE <%= current_page.data.numero_de_producto %></strong></p>
    </div>
    <div class="large-6 columns">
      <h3>Planes a indemnizar según cobertura:</h3>
      <table>
        <thead>
          <tr>
            <th width="50%">Cobertura</th>
            <th width="50%" style="text-align: right;">Indemnización</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cobertura básica de fallecimiento</td>
            <td style="text-align: right;">&#x20A1;1.375.000</td>
          </tr>
          <tr>
            <td>Cobertura adicional de muerte accidental</td>
            <td style="text-align: right;">&#x20A1;1.375.000</td>
          </tr>
          <tr>
            <td>Cobertura adicional de muerte accidental en transporte privado</td>
            <td style="text-align: right;">&#x20A1;1.375.000</td>
          </tr>
          <tr>
            <td>Cobertura adicional de muerte accidental en transporte público:</td>
            <td style="text-align: right;">&#x20A1;2.750.000</td>
          </tr>
          <tr>
            <th colspan="2">Primas</th>
          </tr>
          <tr>
            <td>18-64 años</td>
            <td style="text-align: right;">&#x20A1;1.900</td>
          </tr>
          <tr>
            <td>65-74 años</td>
            <td style="text-align: right;">&#x20A1;22.200</td>
          </tr>
          <tr>
            <td>75 años o más</td>
            <td style="text-align: right;">&#x20A1;30.300</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
